.img-container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.img-cloud {
  position: relative;
  max-width: 300px;
}

textarea::placeholder {
  font-size: 18px;
  /* text-decoration: underline; */
}

.text-before-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #757575;
  text-decoration: underline;
  text-align: center;
  background-color: transparent;
}

.text-after-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  /* font-size: auto; */
  font-size: 35px;
  font-weight: bold;
}

.delete-cloud {
  position: absolute;
  display: none;
  /* transform: rotate(-45deg) scale(1.5); */
  transform: scale(1.5);
}

form:hover .delete-cloud {
  display: block;
}

.delete-cloud {
  top: 5%;
  left: 69%;
}
